@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Lato:wght@300&family=Libre+Baskerville:ital@1&display=swap');

:root {
    --main-bg-color: #2874f0;
}


* {

    margin: 0;
    padding: 0;
}

header {
    height: 58px;
    background-color: var(--main-bg-color);
    font-family: 'Cormorant Garamond', serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(31, 31, 34);
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 30vw;
    height: 25px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900px; 
}
.slider{
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}
.cards{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    /* justify-content: center; */
}
.card h2{
    font-family: 'Cormorant Garamond', serif;
    padding: 5px;   
}
.card-items{
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
}
.card-item img{
    padding: 5px;
    margin: 0 17px;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Cormorant Garamond', serif;
}